footer.container
    .footer.py-3.d-flex.justify-content-between.align-items-center.flex-wrap
        a.footer-logo(href="/")
            img.logo(src="/img/logo.svg")
        p.m-0 Powered by 
            a(href="#") Highkyu
        p.mb-0.d-flex.align-items-center Follow us on
            a(href="https://www.facebook.com/Lost-and-Found-PH-100819798718247/" target="_blank")
                img.ms-1(src="/img/icon-facebook.svg" style="width:40px;")
            
        