extends base

include _accountNav

block content
    .hero.found-items.py-0
        nav.nav.nav-account
            +navItem('/account', 'My Account', 'setting-white', true)           
            +navItem('/my-items', 'My Items', 'grid-white',)
    .items-content
        .row
            .col-md-9
                .div(style="max-width: 500px")
                    h5.mb-4 Your account settings
                    img.rounded-circle.mb-4(src=`${user.photo}` style="width: 100px;")
                    form.form--update-setting.mb-5
                        .mb-4
                            .input-group
                                input#photo.form-control(type="file")
                        .mb-4
                            label.form-label(for="name") Name
                            input#name.form-control(type="text", value=`${user.name}`)
                        .mb-4
                            label.form-label(for="email") Email address
                            input#email.form-control(type="email", value=`${user.email}`)
                        .mb-4
                            button.btn.btn-primary(type="submit") Save settings
                    h5.mb-4 Password change
                    form.form--user-password
                        .mb-4
                            label.form-label(for="password") Current password
                            input#password-current.form-control.form-control-lg(type="password", placeholder="•••••••••••••")
                        .mb-4
                            label.form-label(for="password") New password
                            input#password.form-control.form-control-lg(type="password", placeholder="•••••••••••••")
                        .mb-4
                            label.form-label(for="passwordConfirm") Confirm new password
                            input#password-confirm.form-control.form-control-lg(type="password", placeholder="•••••••••••••")
                        .mb-4
                            button.btn.btn-primary.btn--save-password(type="submit") Save password
            .col-md-3
                script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                ins(class="adsbygoogle", style="display:block", data-ad-client="ca-pub-9286752802654749", data-ad-slot="6887532279", data-ad-format="auto", data-full-width-responsive="true")
                script. 
                    (adsbygoogle = window.adsbygoogle || []).push({});