extends base

block append head
    style.
        header, footer {
            display: none;
        }
        .main {
            min-height: 100vh;
        }

block content
    .d-flex.align-items-center(style="min-height: 100vh;")
        .login.rounded-corner.w-100
            .row
                .login-left.col-md-6.d-flex.justify-content-center.align-items-center
                    a(href="/")
                        img(src="/img/logo-white.svg", style="width: 200px;")
                .login-right.col-md-6
                    h4.mb-5 Log in to your account
                    form.form.form--login
                        .mb-4
                            label.form-label(for="email") Email address
                            input#email.form-control.form-control-lg(type="email", placeholder="you@example.com")
                        .mb-4
                            label.form-label(for="password") Password
                            input#password.form-control.form-control-lg(type="password", placeholder="•••••••••••••")
                        .mb-4
                            button.btn.btn-primary.btn-lg.w-100(type="submit") LOGIN
                        .mb-0
                            p New to LoFo PH? 
                                a(href="/signup") Sign Up